langchain==0.3.25
langchain-community==0.3.25
langchain-experimental==0.3.4
langchain_ollama
torchvision
ollama
faiss-cpu
huggingface_hub
tqdm
PyPDF2
duckduckgo-search
wikipedia
streamlit
langgraph
pydantic
langchain_huggingface
pypdf
sentence-transformers